
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: probestatuses.kubeprober.erda.cloud
spec:
  group: kubeprober.erda.cloud
  names:
    kind: ProbeStatus
    listKind: ProbeStatusList
    plural: probestatuses
    singular: probestatus
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: ProbeStatus is the Schema for the probestatuses API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              detail:
                items:
                  properties:
                    checkers:
                      items:
                        properties:
                          lastRun:
                            format: date-time
                            type: string
                          message:
                            description: if not ok, keep error message
                            type: string
                          name:
                            description: checker name
                            type: string
                          status:
                            description: ERROR/WARN/WARN/UNKNOWN
                            type: string
                        required:
                        - name
                        type: object
                      type: array
                    lastRun:
                      format: date-time
                      type: string
                    message:
                      description: if not ok, keep error message
                      type: string
                    name:
                      description: checker name
                      type: string
                    status:
                      description: ERROR/WARN/WARN/UNKNOWN
                      type: string
                  required:
                  - name
                  type: object
                type: array
              lastRun:
                format: date-time
                type: string
              message:
                description: if not ok, keep error message
                type: string
              name:
                description: checker name
                type: string
              namespace:
                type: string
              status:
                description: ERROR/WARN/WARN/UNKNOWN
                type: string
            required:
            - name
            type: object
          status:
            description: ProbeStatusStatus defines the observed state of ProbeStatus
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
